<div>
    <button type="button" class="btn btn-info btn-sm" routerLink="/deals">See my deals</button>
    <div *ngFor="let i of result" >
        <div class="card">
            <div class="card-header">
                <a  (click)= "visit(i.Shop.iduser)">{{i.Shop.shop_name}} shop</a>
              <p class="float-right"> {{i.number}} miles away</p>
            </div>
            <div class="card-body">
                <p *ngIf="i.Deals.length==0">This shop does not have any deals currently</p>
              <ul *ngFor="let eachDeal of i.Deals">
                  
                <li><div>
                    <p>{{eachDeal.name}} : $ {{eachDeal.price}}</p>
                    <p>{{eachDeal.description}}</p>
                </div></li>
              </ul>
            </div>
          </div>
    </div>
</div>