ul{
  list-style-type:none;
  border:1px solid black;
  background-color: white;
  margin-left:5em;
  margin-right:5em;
  margin-top:0;
  margin-bottom: 0;
}


.card{
  width: 90%;
  margin: 0 auto;
}

body{
  background-color: white;
}

#check{
  border-bottom: 1px solid black;
}

#mydeal{
  font-size: 2em;

}
#buttondeal{
  text-align: center
}

.card {
  width: 80%;
  margin: 0 auto;
}
.card-header {
  background-color: rgb(225, 240, 222)
}