<div class="navbar navbar-light bg-light mb-4 navbar-expand-lg">
  <div class="navbar navbar-nav" *ngIf="navServiceService.visible">

      <a [routerLink]="[ '\home' ]" routerLinkActive="active" class="h4 nav-link mt-auto mb-auto">Give Me a Brake!</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="[ 'profile' ]">Profile</a>
            </li>
          </ul>
        </div>

      <a [routerLink]="['/']"><button class = "btn btn-dark float-right" id="driver" (click)="navServiceService.hide()">Log Out</button></a>



  </div>
