<div class="container col-md-7">
    <div class="">
        <div class="">
            <div class="card">
                <div class="card-header my-auto">
                    <span class='align-middle' style='font-size: 1.5rem'>Profile</span>
                    <button class='btn btn-dark float-right' [routerLink]="[ '\edit' ]">
                    Edit Profile
                    </button>
                </div>
                <div class="container card-body col-md-10">
                    <div class='row'>
                        <div class='col-md-7 mt-2'>
                            <div class="form-group">
                                <label for="account_name">
                                    <b >Name: </b>
                                </label>
                                <input type="text" id="account_name" class="form-control" [(ngModel)]="account.username" style="pointer-events: none;"/>
                            </div>

                            <div class="form-group">
                                <label for="account_email">
                                    <b>Email: </b>
                                </label>
                                <input type="email" id="account_email" class="form-control" [(ngModel)]="account.email" style="pointer-events: none;"/>
                            </div>
                        </div>

                    </div>

                    <div class='row mt-4'>
                        <div class='form-group col-md-6 mr-auto'>
                            <label for="phonebox"><b>Phone</b></label>
                            <input class='form-control' type="text" name="profphonebox" id="phonebox" [ngModel]='account.phone' style="pointer-events: none;">
                        </div>
                        <div class='form-group col-md-6 ml-auto'>
                                <label for="zipbox"><b>Zip/Postal Code</b></label>
                                <input class='form-control' type="text" name="profzipbox" id="zipbox" [ngModel]='account.zipcode' style="pointer-events: none;">
                            </div>
                    </div>
                    
                    <div class="form-group" *ngIf='account.account_type == 0'>
                        <label for="dept_form">
                          <b>My Car</b>
                        </label>
                        <div class='row mt-4'>
                        <div class='form-group col-md-6 mr-auto'>
                                <label for="makebox"><b>Make</b></label>
                                <input class='form-control' type="text" name="makebox" id="makebox" [ngModel]='vehicle.make' style="pointer-events: none;">
                            </div>
                        <div class='form-group col-md-6 mr-auto'>
                                <label for="modelbox"><b>Model</b></label>
                                <input class='form-control' type="text" name="modelbox" id="modelbox" [ngModel]='vehicle.model' style="pointer-events: none;">
                            </div>
                        </div>
                        <div class='row mt-4'>
                        <div class='form-group col-md-6 mr-auto'>
                                <label for="yearbox"><b>Year</b></label>
                                <input class='form-control' type="number" name="yearbox" id="yearbox" [ngModel]='vehicle.year' style="pointer-events: none;">
                            </div>
                        <div class='form-group col-md-6 mr-auto'>
                                <label for="milesbox"><b>Miles</b></label>
                                <input class='form-control' type="number" name="milesbox" id="milesbox" [ngModel]='vehicle.miles' style="pointer-events: none;">
                            </div>
                        </div>
                        <div class='row mt-4'>
                        <div class='form-group col-md-6 mr-auto'>
                                <label for="tirebox"><b>Your last tire rotation time based on miles</b></label>
                                <input class='form-control' type="number" name="tirebox" id="tirebox" [ngModel]='vehicle.tire_rotation_miles' style="pointer-events: none;">
                            </div>
                        <div class='form-group col-md-6 mr-auto'>
                                <label for="oilbox"><b>Your last oil change time based on miles</b></label>
                                <input class='form-control' type="number" name="oilbox" id="oilbox" [ngModel]='vehicle.oil_change_miles' style="pointer-events: none;">
                            </div>
                        </div>
                        <div class='row mt-4'>
                        <div class='form-group col-md-6 mr-auto'>
                                <label for="transbox"><b>Your last transmission time based on miles</b></label>
                                <input class='form-control' type="number" name="transbox" id="transbox" [ngModel]='vehicle.transmission_check_miles' style="pointer-events: none;">
                            </div>
                        <div class='form-group col-md-6 mr-auto'>
                                <label for="insbox"><b>Your last inspection time</b></label>
                                <input class='form-control' type="date" name="insbox" id="insbox" [ngModel]='vehicle.last_inspection_date' style="pointer-events: none;">
                            </div>
                        </div>
                        <div class='form-group col-md-12 mr-auto'>
                                <label for="discbox"><b>General description</b></label>
                                <textarea class='form-control' type="text" name="discbox" id="discbox" [ngModel]='vehicle.general_description' style="pointer-events: none;"></textarea>
                            </div>
                        
                    </div>

                    <div class="form-group" *ngIf='account.account_type == 1'>
                            <label for="dept_form">
                              <b>My Shop</b>
                            </label>
                            <div class='form-group col-md-4 mr-auto'>
                                    <label for="shopgasbox"><b>Gas price</b></label>
                                    <input class='form-control' type="number" name="shopgasbox" id="shopgasbox" [ngModel]='shop.gas_price' style="pointer-events: none;">
                                </div>
                            <div class='row mt-4'>
                                    <div class='form-group col-md-6 mr-auto'>
                                            <label for="shopnamebox"><b>Shop name</b></label>
                                            <input class='form-control' type="text" name="shopnamebox" id="shopnamebox" [ngModel]='shop.shop_name' style="pointer-events: none;">
                                        </div>
                                    <div class='form-group col-md-6 mr-auto'>
                                            <label for="shopemailbox"><b>Model</b></label>
                                            <input class='form-control' type="text" name="shopemailbox" id="shopemailbox" [ngModel]='shop.shop_email' style="pointer-events: none;">
                                        </div>
                                    </div>
                            </div>
                            <div class='form-group col-md-12 mr-auto'>
                                    <label for="shopdiscbox"><b>Shop description</b></label>
                                    <textarea class='form-control' type="text" name="shopdiscbox" id="shopdiscbox" [ngModel]='shop.description' style="pointer-events: none;"></textarea>
                                </div>
                    </div>

                    <div>
                        <div class="form-group">

                            <button class="btn btn-success"   id="corporatebtn"  disabled>Apply</button>
                        </div>   
                    </div>
                    

                    
        
            </div>
        </div>
    </div>
</div>
