<div id="addapt" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-title">Please enter the appointment time</div>
            <div class="modal-body">
                <input class="text-center" type="date" id="change" [(ngModel)] = "apt.date" />
                <button type="button" class="btn btn-default float-right" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-default float-right" data-dismiss="modal"id="saveAPt" (click)="addApt()">Save</button>
              
            </div>
          </div>
        </div>
      </div>


<div class="bodypart">
  <div class="alert alert-primary" role="alert" >
        <button type="button" class="btn btn-danger" style="display:float-left" (click)="addFavor()">Add To Favourtie+</button>
        <button  type="button" class="btn btn-info float-right" data-toggle="modal" data-target="#addapt">Schedule appointment</button>
        <div class="shop_name text-center ">
        Welcome to Homepage of 
        <span class="alert-link">{{shop.shop_name}}</span>
        </div>
  </div>

  <div class="alert alert-secondary" role="alert">
      <span style="font-size:150%">Gas price: </span> 
      <span class="alert-link" style="font-size:150%;font-family:Times New Roman, Times, serif">${{shop.gas_price}}</span>
  </div>

  <div class="alert alert-success" role="alert">
        <span style="font-size:170%">Address: </span>
            <span  class="alert-link" style="font-size:150%;font-family:Times New Roman, Times, serif">{{shop.address}}</span>
  </div>

  <div class="alert alert-danger" role="alert">
        <span style="font-size:250%">Email: </span>
            <span  class="alert-link" style="font-size:150%;font-family:Times New Roman, Times, serif">{{shop.shop_email}}</span>
  </div>

  <div class="alert alert-dark" role="alert">
      <span class="card-title" style="font-size:120%;">Description: </span>
          <span class="alert-link" style="font-size:150%;font-family:Times New Roman, Times, serif">{{shop.description}}</span>
  </div>



  <div class="card">
      <div class="card">
    <h1 class="card-body" *ngIf="deals.length >0">Here's the deal:</h1>
    <h1 class="card-body" *ngIf="deals.length ==0">Oops! This shop doesn't have any deals (╯°Д°）╯</h1>
    <div *ngFor='let item of deals'>
        <div class="card-header"> {{item.name}} : $ {{item.price}}</div>
        <div class="card-body" style='font-size: 1.5rem'>
            {{item.description}}
            <p class="float-right" *ngIf="item.notify==1">Great Deal!</p>
        </div>
      </div>
    </div>
  </div>
</div>



  <div class="card">
      <h1 class="card-title">
          Here's the review
      </h1>

      <div class="hiddenpart" *ngIf="reviews.length ===0" >
          <h4 class="col-md-8">Be the first to add a review</h4>
      </div>
      
      <div class="card-body "> 

        <div *ngFor='let customer of reviews' class="card">

                <div class="card-title">
                    Rating: <app-rating  [ratingValue]="customer.rating"></app-rating>
                </div>

                <div class="card-body"> {{customer.comment}} </div>
        </div>

    </div>


    <div class="card">
        
            <div class="row">
                    <div class="col-md-8">
                    <h1  width="1000" required minlength="5" maxlength="30">Leave your comment here </h1>
                    
                    </div>


            <div class="form-group col-md-4">
                    <select class="custom-select"   [(ngModel)]="newReview.rating" id="inputGroupSelect01" name=rate>
                        <option *ngFor="let rate of [1,2,3,4,5]" value = {{rate}}>{{rate}} stars</option>
                    </select>
                    <div class = "col-sm-6">
                        <app-rating  [ratingValue]="newReview.rating"></app-rating>
                    </div>
                </div>

        <div class="col-md-6">
            <textarea  rows="10" cols="220" [(ngModel)]="newReview.comment" id="reviews" name=comment></textarea>
            <button type="button" class="btn btn-primary" (click)="addreview()" [disabled]="!newReview.comment || !newReview.rating" >Submit</button>
        </div>  


    
    </div>
</div>

<div>
    <pre>{{newReview | json}}</pre>
</div>