
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#bootstrapModel" #openModal [hidden]="true">click to open</button>
<div id="bootstrapModel" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="checktitle">Are you a driver or shop owner?</h4>
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-default col-md-4" data-dismiss="modal" id="checkDriver" (click)="isADriver=true; showPage=true;">Driver</button>
        <button type="button" class="btn btn-default col-md-4" data-dismiss="modal"id="checkOwner" (click)="isADriver=false; showPage=true;">Shop Owner</button>
      </div>
    </div>
  </div>
</div>

<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#bootstrapModel2" #openModal2 [hidden]="true">click to open</button>
<div id="bootstrapModel2" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="checktitle">You haven't add your car information, do you want to save account?</h4>
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="backcars" (click)="addACar = true">Add my car information</button>
        <button type="button" routerLink="" class="btn btn-default" data-dismiss="modal"id="nocars" (click)="saveAccount()">Register anyway</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="card"  *ngIf="showPage && isADriver">
        <div class="card-header">
          Regisiter Your Account
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="account_name">
              Username
            </label>
            <input type="text" id="account_name" class="form-control"  [(ngModel)] = "newDriver.username" required minlength="5" maxlength="30" name="driverusername" #driverusername="ngModel">
            <div *ngIf="driverusername.errors && (driverusername.dirty || driverusername.touched)" class="alert alert-danger">
                <div [hidden]="!driverusername.errors.required">
                    Username is required.
                </div>
                <div [hidden]="!driverusername.errors.minlength">
                  Username must be at least 5 characters long.
                </div>
                <div [hidden]="!driverusername.errors.maxlength">
                  Username cannot be more than 30 characters long.
                </div>
              </div>
          </div>
          <div class="form-group">
            <label for="account_email">
              Email
            </label>
            <input type="email" id="account_email" class="form-control"  [(ngModel)] = "newDriver.email"  pattern="[a-zA-Z0-9.-]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"  name="driverpassword" required #account_email="ngModel"/>
            <div  *ngIf="account_email.errors && (account_email.dirty || account_email.touched)"  class="alert alert-danger">
                <div  [hidden]="!account_email.errors.required">
                    Email is required.
                </div>
                <div  [hidden]="!account_email.errors.pattern">
                    Email is invalid.
                </div>
            </div>
          </div>
          <div class="form-group">
              <label for="account_password">
                Password
              </label>
              <input type="password" id="account_password" class="form-control" [(ngModel)] = "newDriver.password" required minlength="5" maxlength="30" name="driverpassword" #driverpassword="ngModel">
              <div *ngIf="driverpassword.errors && (driverpassword.dirty || driverpassword.touched)" class="alert alert-danger">
                  <div [hidden]="!driverpassword.errors.required">
                      Password is required.
                  </div>
                  <div [hidden]="!driverpassword.errors.minlength">
                    Password must be at least 5 characters long.
                  </div>
                  <div [hidden]="!driverpassword.errors.maxlength">
                    Password cannot be more than 30 characters long.
                  </div>
                </div>
            </div>
            <div class="form-group">
                <label for="account_zipcode" >
                  Zipcode
                </label>
                <input type="number" id="account_zipcode" class="form-control" [(ngModel)] = "newDriver.zipcode"  pattern="[0-9]{5}" name="driverzipcode" required #driverzipcode="ngModel"/>
                <div  *ngIf="driverzipcode.errors && (driverzipcode.dirty || driverzipcode.touched)"  class="alert alert-danger">
                  <div  [hidden]="!driverzipcode.errors.required">
                      Zipcode is required.
                  </div>
                  <div  [hidden]="!driverzipcode.errors.pattern">
                      Zipcode is invalid.
                  </div>
              </div>
              </div>
              <div class="form-group">
                  <label for="account_phone">
                    Phone Number
                  </label>
                  <input type="number" id="account_phone" class="form-control" [(ngModel)] = "newDriver.phone" pattern="[0-9]{10}" name="driverphone" required #driverphone="ngModel"/>
                  <div  *ngIf="driverphone.errors && (driverphone.dirty || driverphone.touched)"  class="alert alert-danger">
                    <div  [hidden]="!driverphone.errors.required">
                        Phone is required.
                    </div>
                    <div  [hidden]="!driverphone.errors.pattern">
                        Phone is invalid.
                    </div>
                </div>
                </div>
                <div class="form-group">
                    <label for="account_name">
                      Your Full Name
                    </label>
                    <input type="name" id="account_name" class="form-control" [(ngModel)] = "newDriver.name"name="drivername" required #drivername="ngModel"/>
                    <div  *ngIf="drivername.errors && (drivername.dirty || drivername.touched)"  class="alert alert-danger">
                      <div  [hidden]="!drivername.errors.required">
                          Your name is required.
                      </div>
                  </div>
                  </div>
          <br />
          <div class="form-check">
              <input class="form-check-input" type="checkbox" name="gridRadios" id="gridRadios1" [(ngModel)]="addACar" >
              <label class="form-check-label" for="gridRadios1">
                Add your car infomration
              </label>
            </div>
            <br />
          <div *ngIf="addACar">
              <div class="form-group">
                  <label for="account_make">
                    Make
                  </label>
                  <input type="text" id="account_make" class="form-control" [(ngModel)] = "newCar.make" name="carmake" required #carmake="ngModel"/>
                  <div  *ngIf="carmake.errors && (carmake.dirty || carmake.touched)"  class="alert alert-danger">
                    <div  [hidden]="!carmake.errors.required">
                        Make is required.
                    </div>
                </div>
              </div>
                <div class="form-group">
                    <label for="account_model">
                      Model
                    </label>
                    <input type="text" id="account_model" class="form-control" [(ngModel)] = "newCar.model"name="carmodel" required #carmodel="ngModel"/>
                    <div  *ngIf="carmodel.errors && (carmodel.dirty || carmodel.touched)"  class="alert alert-danger">
                      <div  [hidden]="!carmodel.errors.required">
                          Model is required.
                      </div>
                  </div>
                </div>
                  <div class="form-group">
                      <label for="account_year">
                        Year
                      </label>
                      <input type="number" id="account_year" class="form-control" [(ngModel)] = "newCar.year" name="caryear" required #caryear="ngModel"/>
                      <div  *ngIf="caryear.errors && (caryear.dirty || caryear.touched)"  class="alert alert-danger">
                        <div  [hidden]="!caryear.errors.required">
                            Car year is required.
                        </div>
                    </div>
                    </div>
                    <div class="form-group">
                        <label for="account_mile">
                          Miles
                        </label>
                        <input type="number" id="account_mile" class="form-control" [(ngModel)] = "newCar.miles" name="carmile" required #carmile="ngModel"/>
                        <div  *ngIf="carmile.errors && (carmile.dirty || carmile.touched)"  class="alert alert-danger">
                          <div  [hidden]="!carmile.errors.required">
                              Mile is required.
                          </div>
                      </div>
                      </div>
                      <div class="form-group">
                          <label for="account_oilChangeDate">
                              oilChangeDate
                          </label>
                          <input type="date" id="account_oilChangeDate" class="form-control" [(ngModel)] = "newCar.oilChangeDate" name="caroil" required #caroil="ngModel"/>
                          <div  *ngIf="caroil.errors && (caroil.dirty || caroil.touched)"  class="alert alert-danger">
                            <div  [hidden]="!caroil.errors.required">
                                Oil changed date is required.
                            </div>
                        </div>
                        </div>
                        <div class="form-group">
                            <label for="account_tireChangeDate">
                                tireChangeDate
                            </label>
                            <input type="date" id="account_tireChangeDate" class="form-control" [(ngModel)] = "newCar.tireChangeDate" name="cartire" required #cartire="ngModel"/>
                            <div  *ngIf="cartire.errors && (cartire.dirty || cartire.touched)"  class="alert alert-danger">
                              <div  [hidden]="!cartire.errors.required">
                                  tire changed date is required.
                              </div>
                          </div>
                          </div>
                          <div class="form-group">
                              <label for="account_transimissionCheck">
                                  transimissionCheck
                              </label>
                              <input type="date" id="account_transimissionCheck" class="form-control" [(ngModel)] = "newCar.transimissionCheck" name="cartrans" required #cartrans="ngModel"/>
                              <div  *ngIf="cartrans.errors && (cartrans.dirty || cartrans.touched)"  class="alert alert-danger">
                                <div  [hidden]="!cartrans.errors.required">
                                    Transmission check date date is required.
                                </div>
                            </div>
                            </div>
                            <div class="form-group">
                                <label for="account_inspection">
                                    inspection
                                </label>
                                <input type="date" id="account_inspection" class="form-control" [(ngModel)] = "newCar.inspection" name="carinspection" required #carinspection="ngModel"/>
                                <div  *ngIf="carinspection.errors && (carinspection.dirty || carinspection.touched)"  class="alert alert-danger">
                                  <div  [hidden]="!carinspection.errors.required">
                                      Inspection date date is required.
                                  </div>
                              </div>
                            </div>
                            <div class="form-group">
                                <label for="account_generalDisc">
                                    generalDisc
                                </label>
                                <input type="text" id="account_generalDisc" class="form-control" [(ngModel)] = "newCar.generalDisc" name="cardisc" required #cardisc="ngModel"/>
                                <div  *ngIf="cardisc.errors && (cardisc.dirty || cardisc.touched)"  class="alert alert-danger">
                                  <div  [hidden]="!cardisc.errors.required">
                                      Disc is required.
                                  </div>
                              </div>
                            </div>
                            <div class="form-group">
          </div>
        </div>
        <button class="btn btn-outline-primary" type="button" (click)="addCarCheck()" [disabled]="(!addACar&&( driverusername.errors||account_email.errors
        || driverpassword.errors|| driverzipcode.errors|| driverphone.errors|| drivername.errors))">
          Sign up
        </button>
        <button routerLink="" class="btn btn-outline-primary" type="button" id="backtohome">
          Back
        </button>
      </div>
    </div>


    <div class="card" *ngIf="showPage && !isADriver">
      <div class="card-header">
        Regisiter Your Account
      </div>
      <div class="card-body">
        <div class="form-group">
          <label for="ownderaccount_name">
            Username
          </label>
          <input type="text" id="ownderaccount_name" class="form-control"  [(ngModel)] = "newOwner.username" required minlength="5" maxlength="30" name="ownerusername" #ownerusername="ngModel">
          <div *ngIf="ownerusername.errors && (ownerusername.dirty || ownerusername.touched)" class="alert alert-danger">
              <div [hidden]="!ownerusername.errors.required">
                  Username is required.
              </div>
              <div [hidden]="!ownerusername.errors.minlength">
                Username must be at least 5 characters long.
              </div>
              <div [hidden]="!ownerusername.errors.maxlength">
                Username cannot be more than 30 characters long.
              </div>
            </div>
        </div>
        <div class="form-group">
          <label for="owneraccount_email">
            Email
          </label>
          <input type="email" id="owneraccount_email" class="form-control"  [(ngModel)] = "newOwner.email"  pattern="[a-zA-Z0-9.-]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"  name="owneremail" required #owneremail="ngModel"/>
          <div  *ngIf="owneremail.errors && (owneremail.dirty || owneremail.touched)"  class="alert alert-danger">
              <div  [hidden]="!owneremail.errors.required">
                  Email is required.
              </div>
              <div  [hidden]="!owneremail.errors.pattern">
                  Email is invalid.
              </div>
          </div>
        </div>
        <div class="form-group">
            <label for="owneraccount_password">
              Password
            </label>
            <input type="password" id="owneraccount_password" class="form-control" [(ngModel)] = "newOwner.password" required minlength="5" maxlength="30" name="ownerpassword" #ownerpassword="ngModel">
            <div *ngIf="ownerpassword.errors && (ownerpassword.dirty || ownerpassword.touched)" class="alert alert-danger">
                <div [hidden]="!ownerpassword.errors.required">
                    Password is required.
                </div>
                <div [hidden]="!ownerpassword.errors.minlength">
                  Password must be at least 5 characters long.
                </div>
                <div [hidden]="!ownerpassword.errors.maxlength">
                  Password cannot be more than 30 characters long.
                </div>
              </div>
          </div>
          <div class="form-group">
              <label for="owneraccount_zipcode" >
                Zipcode
              </label>
              <input type="number" id="owneraccount_zipcode" class="form-control" [(ngModel)] = "newOwner.zipcode"  pattern="[0-9]{5}" name="ownerzipcode" required #ownerzipcode="ngModel"/>
              <div  *ngIf="ownerzipcode.errors && (ownerzipcode.dirty || ownerzipcode.touched)"  class="alert alert-danger">
                <div  [hidden]="!ownerzipcode.errors.required">
                    Zipcode is required.
                </div>
                <div  [hidden]="!ownerzipcode.errors.pattern">
                    Zipcode is invalid.
                </div>
            </div>
            </div>
            <div class="form-group">
                <label for="owneraccount_phone">
                  Phone Number
                </label>
                <input type="number" id="owneraccount_phone" class="form-control" [(ngModel)] = "newOwner.phone" pattern="[0-9]{10}" name="ownerphone" required #ownerphone="ngModel"/>
                <div  *ngIf="ownerphone.errors && (ownerphone.dirty || ownerphone.touched)"  class="alert alert-danger">
                  <div  [hidden]="!ownerphone.errors.required">
                      Phone is required.
                  </div>
                  <div  [hidden]="!ownerphone.errors.pattern">
                      Phone is invalid.
                  </div>
              </div>
              </div>
              <div class="form-group">
                  <label for="owneraccount_name">
                    Your Full Name
                  </label>
                  <input type="name" id="owneraccount_name" class="form-control" [(ngModel)] = "newOwner.name"name="ownername" required #ownername="ngModel"/>
                  <div  *ngIf="ownername.errors && (ownername.dirty || ownername.touched)"  class="alert alert-danger">
                    <div  [hidden]="!ownername.errors.required">
                        Your name is required.
                    </div>
                </div>
                </div>
                <div class="form-group">
                  <label for="owneraccount_workemail">
                    Your working email
                  </label>
                  <input type="name" id="owneraccount_workemail" class="form-control" [(ngModel)] = "newOwner.workingEmail" pattern="[a-zA-Z0-9.-]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"  name="ownerworkemail" required #ownerworkemail="ngModel"/>
                  <div  *ngIf="ownerworkemail.errors && (ownerworkemail.dirty || ownerworkemail.touched)"  class="alert alert-danger">
                    <div  [hidden]="!ownerworkemail.errors.required">
                        Working email is required.
                    </div>
                    <div  [hidden]="!ownerworkemail.errors.pattern">
                      Working email is invalid.
                  </div>
                </div>
                </div>
                <div class="form-group">
                  <label for="owneraccount_description">
                    Your shop description
                  </label>
                  <input type="name" id="owneraccount_description" class="form-control" [(ngModel)] = "newOwner.description"  name="ownerdescription" required #ownerdescription="ngModel"/>
                  <div  *ngIf="ownerworkemail.errors && (ownerworkemail.dirty || ownerworkemail.touched)"  class="alert alert-danger">
                    <div  [hidden]="!ownerdescription.errors.required">
                        Desciption is required.
                    </div>
                </div>
                </div>
                <div class="form-group">
                  <label for="owneraccount_review">
                    Your shop review (optional)
                  </label>
                  <input type="name" id="owneraccount_review" class="form-control" [(ngModel)] = "newReview"/>
                </div>
                <div class="form-group">
                  <label for="owneraccount_deal">
                    Your shop deal (optional)
                  </label>
                  <input type="name" id="owneraccount_deal" class="form-control" [(ngModel)] = "newDeal"/>
                </div>
                <div class="form-group">
                </div>
      </div>
      <button routerLink="" class="btn btn-outline-primary" type="button" (click)="addOwnerCheck()" [disabled]="( ownerusername.errors||owneremail.errors
      || ownerpassword.errors|| ownerzipcode.errors|| ownerphone.errors|| ownername.errors|| ownerworkemail.errors || ownerdescription.errors)">
        Sign up
      </button>
      <button routerLink="" class="btn btn-outline-primary" type="button" id="backtohomeNow">
        Back
      </button>
    </div>
  </div>


  </div>
</div>


<div class="col-md-4">
  <pre>{{newDriver | json}}</pre>
  <pre>{{newCar | json}}</pre>
</div>
