<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="h5 card-header">
                Profile
                </div>
                <div class="card-body">
                  <div class="form-group">
                      <label for="account_name">
                        <b>Name: </b>
                      </label>
                      <input type="text" id="account_name" class="form-control" [(ngModel)]="account.name" readonly/>
                    </div>
                    <div class="form-group">
                        <label for="account_email">
                            <b>Email: </b>
                        </label>
                        <input type="email" id="account_email" class="form-control" [(ngModel)]="account.email" readonly/>
                    </div>
                    <div class="form-group">
                      <fieldset disabled>
                        <label for="check-group">
                          <b>Employee?</b>
                        </label>
                        <div class="form-check">
                            <input class="form-check-input" name="employed" type="radio" value=1 id="employeeradio1" [(ngModel)]="account.isEmployee">
                            <label class="form-check-label" for="employeeradio1">Yes</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" name="employed" type="radio" value=0 id="employeeradio0" [(ngModel)]="account.isEmployee">
                            <label class="form-check-label" for="employeeradio0">No</label>
                        </div>
                      </fieldset>
                    </div>
                    <div class="form-group">
                        <label for="dept_form">
                          Department
                        </label>
                        <select id="dept_form" class="form-control" [(ngModel)]="account.deptID" disabled>
                          <option></option>
                          <option *ngFor="let dept of departments" value="{{ dept.id }}">
                            {{ dept.name }}
                          </option>
                        </select>
                      </div>


                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4">
    {{ account | json }}
  </div>
