<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="h5 card-header">
                Profile
                </div>
                <div class="card-body">
                  <div class="form-group">
                      <label for="account_name">
                        <b>Name: </b>
                      </label>
                      <input type="text" id="account_name" class="form-control" [(ngModel)]="account.name" style="pointer-events: none;"/>
                    </div>
                    <div class="form-group">
                        <label for="account_email">
                            <b>Email: </b>
                        </label>
                        <input type="email" id="account_email" class="form-control" [(ngModel)]="account.email" style="pointer-events: none;"/>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4">
    {{ account | json }}
  </div>
