<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="h5 card-header">
                Profile
                <button class='btn btn-dark float-right'>
                  Edit Profile
                </button>
                </div>
                <div class="card-body">
                  <div class="form-group">
                      <label for="account_name">
                        <b *ngIf='accountService.account.isCompany == false'>Name: </b>
                        <b *ngIf='accountService.account.isCompany == true'>Company Name: </b>

                      </label>
                      <input type="text" id="account_name" class="form-control" [(ngModel)]="accountService.account.name" style="pointer-events: none;"/>
                    </div>
                    <div class="form-group">
                        <label for="account_email">
                            <b>Email: </b>
                        </label>
                        <input type="email" id="account_email" class="form-control" [(ngModel)]="accountService.account.email" style="pointer-events: none;"/>
                    </div>
                    <div class="form-group">
                        <label for="employeeCheck">
                          <b>Are you a Business? </b>
                        </label>
                        <input class="form-check ml-1" name="employed" type="checkbox" id="employeeCheck" [(ngModel)]="accountService.account.isCompany" disabled>
                    </div>
                    <div class="form-group">
                        <label for="dept_form">
                          <b>My Car: </b>
                        </label>
                        <table class='card'>
                          <th class='card-header'>{{accountService.account.myCar.make}}</th>
                          <div class='card-body'>

                            <td>{{accountService.account.myCar.year}}</td>
                            <td>{{accountService.account.myCar.model}}</td>

                          </div>



                        </table>
                      </div>


                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4">
    {{ accountService.account | json }}
  </div>
