<!-- 
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#bootstrapModel" #openModal [hidden]="true">click to open</button>
<div id="bootstrapModel" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="checktitle">Are you a driver or shop owner?</h4>
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-default col-md-4" data-dismiss="modal" id="checkDriver" (click)="isADriver=true; showPage=true;">Driver</button>
        <button type="button" class="btn btn-default col-md-4" data-dismiss="modal"id="checkOwner" (click)="isADriver=false; showPage=true;">Shop Owner</button>
      </div>
    </div>
  </div>
</div>

<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#bootstrapModel2" #openModal2 [hidden]="true">click to open</button>
<div id="bootstrapModel2" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="checktitle">You haven't add your car information, do you want to save account?</h4>
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="backcars" (click)="addACar = true">Add my car information</button>
        <button type="button" routerLink="" class="btn btn-default" data-dismiss="modal"id="nocars" (click)="saveAccount()">Register anyway</button>
      </div>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          Regisiter Your Account
        </div>
        <div class="card-body">
          <div class="form-group">
              <div class="form-group">
                  <label for="account_email">
                    Email
                  </label>
                  <input type="email" id="account_email" class="form-control"  [(ngModel)] = "newAccount.email"  pattern="[a-zA-Z0-9.-]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"  name="account_email" required #account_email="ngModel"/>
                  <div  *ngIf="account_email.errors && (account_email.dirty || account_email.touched)"  class="alert alert-danger">
                      <div  [hidden]="!account_email.errors.required">
                          Email is required.
                      </div>
                      <div  [hidden]="!account_email.errors.pattern">
                          Email is invalid.
                      </div>
                  </div>
                </div>
            <label for="account_name">
              Your full name
            </label>
            <input type="text" id="account_name" class="form-control"  [(ngModel)] = "newAccount.username" required minlength="5" maxlength="30" name="accnoutusername" #accnoutusername="ngModel">
            <div *ngIf="accnoutusername.errors && (accnoutusername.dirty || accnoutusername.touched)" class="alert alert-danger">
                <div [hidden]="!accnoutusername.errors.required">
                    Username is required.
                </div>
                <div [hidden]="!accnoutusername.errors.minlength">
                  Username must be at least 5 characters long.
                </div>
                <div [hidden]="!accnoutusername.errors.maxlength">
                  Username cannot be more than 30 characters long.
                </div>
              </div>
          </div>
          
          <div class="form-group">
              <label for="account_password">
                Password
              </label>
              <input type="password" id="account_password" class="form-control" [(ngModel)] = "newAccount.password" required minlength="5" maxlength="30" name="accountpassword" #accountpassword="ngModel">
              <div *ngIf="accountpassword.errors && (accountpassword.dirty || accountpassword.touched)" class="alert alert-danger">
                  <div [hidden]="!accountpassword.errors.required">
                      Password is required.
                  </div>
                  <div [hidden]="!accountpassword.errors.minlength">
                    Password must be at least 5 characters long.
                  </div>
                  <div [hidden]="!accountpassword.errors.maxlength">
                    Password cannot be more than 30 characters long.
                  </div>
                </div>
            </div>
            <div class="form-group">
                <label for="account_zipcode" >
                  Zipcode
                </label>
                <input type="number" id="account_zipcode" class="form-control" [(ngModel)] = "newAccount.zipcode"  pattern="[0-9]{5}" name="accountzipcode" required #accountzipcode="ngModel"/>
                <div  *ngIf="accountzipcode.errors && (accountzipcode.dirty || accountzipcode.touched)"  class="alert alert-danger">
                  <div  [hidden]="!accountzipcode.errors.required">
                      Zipcode is required.
                  </div>
                  <div  [hidden]="!accountzipcode.errors.pattern">
                      Zipcode is invalid.
                  </div>
              </div>
              </div>
          <br />
          <div class="form_field">
           <label for="peopleType">Who are you?</label>
            <div class="radio_list">
              <label for="peopleTypeA">
              <input type="radio" name="peopleType " id="peopleTypeA" [value]="0" [(ngModel)] = "newAccount.account_type"/>
              Driver
              </label>
              <label for="peopleTypB">
              <input type="radio" name="peopleType" id="peopleTypeB"[value]="1"  [(ngModel)] = "newAccount.account_type"/>
              Shop Owner
              </label>
  
            </div>
              
            </div>
            <!-- <br />
          <div *ngIf="newAccount.account_type ===0">
              <div class="form-group">
                  <label for="account_make">
                    Make
                  </label>
                  <input type="text" id="account_make" class="form-control" [(ngModel)] = "newVehicle.make" name="carmake" required #carmake="ngModel"/>
                  <div  *ngIf="carmake.errors && (carmake.dirty || carmake.touched)"  class="alert alert-danger">
                    <div  [hidden]="!carmake.errors.required">
                        Make is required.
                    </div>
                </div>
              </div>
                <div class="form-group">
                    <label for="account_model">
                      Model
                    </label>
                    <input type="text" id="account_model" class="form-control" [(ngModel)] = "newVehicle.model"name="carmodel" required #carmodel="ngModel"/>
                    <div  *ngIf="carmodel.errors && (carmodel.dirty || carmodel.touched)"  class="alert alert-danger">
                      <div  [hidden]="!carmodel.errors.required">
                          Model is required.
                      </div>
                  </div>
                </div>
                  <div class="form-group">
                      <label for="account_year">
                        Year
                      </label>
                      <input type="number" id="account_year" class="form-control" [(ngModel)] = "newVehicle.year" name="caryear" required #caryear="ngModel"/>
                      <div  *ngIf="caryear.errors && (caryear.dirty || caryear.touched)"  class="alert alert-danger">
                        <div  [hidden]="!caryear.errors.required">
                            Car year is required.
                        </div>
                    </div>
                    </div>
                    <div class="form-group">
                        <label for="account_mile">
                          Miles
                        </label>
                        <input type="number" id="account_mile" class="form-control" [(ngModel)] = "newVehicle.miles" name="carmile" required #carmile="ngModel"/>
                        <div  *ngIf="carmile.errors && (carmile.dirty || carmile.touched)"  class="alert alert-danger">
                          <div  [hidden]="!carmile.errors.required">
                              Mile is required.
                          </div>
                      </div>
                      </div>
                      <div class="form-group">
                          <label for="account_oilChangeDate">
                              How many miles since you change your oil
                          </label>
                          <input type="number" id="account_oilChangeDate" class="form-control" [(ngModel)] = "newVehicle.oil_change_miles" name="caroil" required #caroil="ngModel"/>
                          <div  *ngIf="caroil.errors && (caroil.dirty || caroil.touched)"  class="alert alert-danger">
                            <div  [hidden]="!caroil.errors.required">
                                This part is required
                            </div>
                        </div>
                        </div>
                        <div class="form-group">
                            <label for="account_tireChangeDate">
                                How many miles since you changed your tire
                            </label>
                            <input type="number" id="account_tireChangeDate" class="form-control" [(ngModel)] = "newVehicle.tire_rotation_miles" name="cartire" required #cartire="ngModel"/>
                            <div  *ngIf="cartire.errors && (cartire.dirty || cartire.touched)"  class="alert alert-danger">
                              <div  [hidden]="!cartire.errors.required">
                                  This part is required
                              </div>
                          </div>
                          </div>
                          <div class="form-group">
                              <label for="account_transimissionCheck">
                                  How many miles since you checked the transimission
                              </label>
                              <input type="number" id="account_transimissionCheck" class="form-control" [(ngModel)] = "newVehicle.transmission_check_miles" name="cartrans" required #cartrans="ngModel"/>
                              <div  *ngIf="cartrans.errors && (cartrans.dirty || cartrans.touched)"  class="alert alert-danger">
                                <div  [hidden]="!cartrans.errors.required">
                                    Transmission check date date is required.
                                </div>
                            </div>
                            </div>
                            <div class="form-group">
                                <label for="account_inspection">
                                    What is last time of the inspection
                                </label>
                                <input type="date" id="account_inspection" class="form-control" [(ngModel)] = "newVehicle.last_inspection_date" name="carinspection" required #carinspection="ngModel"/>
                                <div  *ngIf="carinspection.errors && (carinspection.dirty || carinspection.touched)"  class="alert alert-danger">
                                  <div  [hidden]="!carinspection.errors.required">
                                      Inspection date is required.
                                  </div>
                              </div>
                            </div>
                            <div class="form-group">
                                <label for="account_generalDisc">
                                    General description of your car
                                </label>
                                <input type="text" id="account_generalDisc" class="form-control" [(ngModel)] = "newVehicle.general_description" name="cardisc" required #cardisc="ngModel"/>
                                <div  *ngIf="cardisc.errors && (cardisc.dirty || cardisc.touched)"  class="alert alert-danger">
                                  <div  [hidden]="!cardisc.errors.required">
                                      It is required.
                                  </div>
                              </div>
                            </div>
                            <div class="form-group"> -->
          </div>
        </div>
        <button class="btn btn-outline-primary" type="button"  (click)="saveAccount()" [disabled]="( accnoutusername.errors||account_email.errors
        || accountpassword.errors|| accountzipcode.errors||newAccount.account_type === -1)">
          Sign up
        </button>
        <button routerLink="\login" class="btn btn-outline-primary" type="button" id="backtohome">
          Back
        </button>
      </div>
    </div>



